h5,h3,h6{
	color: #c68421;
}
.input1 /*CSS for account Information*/
{ 
	border:none;
	background-color:#000000;
	border-bottom:1px solid #c68421;
	margin-left:3%;
	padding-right:4%; 
	border-bottom-style:groove; 
	-webkit-border-radius:0 0;
	font-family: "Courier New";
	color:#ffffff;
	font-size:80%;
	text-align:center;
}

