<app-header></app-header>
<div class="container-fluid bg">
	<div class="abc">
	<form class="">
		<div class="col-sm-2 col-sm-offset-3 input">
		<div class="text-center">
			<label><h3>EQ</h3></label>
		</div>
			<input name="eq" class="form-control text" value="{{user?.accounts[0].equity}}">
		</div>
		<div class="col-sm-2 input ">
		<div class="text-center">
			<label> <h3>Balance</h3></label>
			</div>
			<input class="form-control text" name="bal" value="{{user?.accounts[0].balance}}">
		</div>
		<div class="col-sm-2 input">
		<div class="text-center">
			<label><h3>Profit</h3></label></div>
			<input class="form-control text" name="gain" value="{{user?.accounts[0].gain}}">
		</div>
		<button (click)="more()" class="button" >More</button>
	</form>
	</div>
</div>
<footer class="container fg">
<div class="row">
<div class="col-md-4 text-center"> <h5>my.fxbook.com</h5></div>
<div class="col-md-4 text-center"><h5 >metatrader4</h5></div>
<div class="col-md-4 text-center"><h5>LiveChat</h5></div>
	</div>
</footer>
