.bg
{
	padding-bottom:190px; 
	padding-top:120px; 
}
.button{
	background-color: #c68421;
	color:white;
	height: 10%;
	width:15%; 
	text-align: center;
	text-decoration: block;
	margin-top: 50px;
	margin-right:0px; 
	margin-left:45%;
	border: none;
}
h5,h3
{
	color: #c68421;
	font:courier;
}
label
{
	padding-left:40%;
	padding-right:30%; 
	margin-right:30%;
	font-family: "Courier New";
}
h5
{
	display: inline;
}

