<div class="container-fluid bg">
	<div class="col-md-10">
		<form class="form-horizontal col-md-3 col-md-offset-6">
			<img class="image-responsive col-md-offset-2" src="assets/images/logo.png" width="60%"><br>
			<br>
			<div class="col-md-10 col-md-offset-1">
				<input [(ngModel)]="user.smsCode" class="input form-control" style="background-color:black;
				color:#c68421;" name="authToken" placeholder="Enter the code...."><br>
			</div>
			<button type="button" (click)="loadClient()" class="button col-md-offset-2">Login</button>
		</form>	
	</div>
</div>
<footer class="container-fluid fg">
	<h5 class="col-md-offset-1">my.fxbook.com</h5> <h5 class="col-md-offset-4">metatrader4</h5><h5 class="col-md-offset-4">LiveChat</h5>
</footer>
