.bg
{
	width:100%;
	height:100%;
}
.button {
	display: inline-block;
}
.input
{
	border:0;
	border-bottom: 1px solid #c68421;
	margin-top:50%;
    border-bottom-style:groove; 
    -webkit-border-radius:0 0;
}
::-webkit-input-placeholder
{/*Css For Palceholder*/
  color: #c68421;
}